* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: nova;
  src: url(../font/GILLSANSNOVA.TTF);
}

nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  position: relative;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
  text-align: center;
}
nav h2{
  font-family: nova;
}

nav img {
  height: 3vh;
  
}
.option1{
  background: #D4D4D4;
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  display: flex;
  place-content: center center;
  place-items: center;
  margin: auto;
}
.option1 img{
  max-width: 2em;
}

/* Cards */
.c{
  max-height: 90vh;
  overflow-y: scroll;

}
.c-container {
  display: grid;
  grid-template-columns: 1fr 4fr 0.7fr;
  column-gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background: #fff;
}
.c-container:hover{cursor: pointer;}
.c-container:focus,
.c-container:active{
  background: #eee;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.c-c-avatar {
  background: #000;
  min-height: 3rem;
  width: 3rem;
  margin: auto;
  border-radius: 50%;
}
.status1::before {
background: #409e2a;
}
.status2::before {
background: #B9712B;
}
.status3::before {
background: #B92B2B;
}
.c-c-avatar::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
    
}


.c-2c-name{
  font-family: nova;
  font-weight: 300;
}
.c-2c-message, .c-2c-time{
  font-family: nova;
  font-weight: 100;
  font-size: .8em;
  color: #666;
}
.c-2c-time{
  align-self: flex-end;
}

/* Chat */
.display-msg{
  height: 75vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.message{
  background: #ccc;
  padding: .2rem .5rem;
  max-width: max(35ch, 50%);
  height: auto;
  border-radius: 2rem;
  margin: .5rem auto;
}
.received{
  margin-right:0 ;
  background: #B92B2B;
  color: #fff;
}
.sent{
  margin-left:0 ;
  background: #E0E0E0;
  color: #000;
}
.chat-send{
  background: #eee;
  height: 5vh;

  padding: 1rem;
}
form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.msg-i{
  width: max(17rem, 70vw);
  min-height: auto;
  font-size: 1rem;
  resize: none;
  border-radius: 2rem;
  padding:.5rem 1em;
  border: 1.5px solid #999;
}

form button {
  background: none;
  border: none;
}
form button img{
  width: 2rem;
  height: 2rem;
}