* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

nav img {
  height: 3vh;
}

/* Cards */

.c-container {
  display: grid;
  grid-template-columns: 1fr 4fr 0.7fr;
  column-gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.c-c-avatar {
  background: #000;
  min-height: 3rem;
  width: 3rem;
  margin: auto;
  border-radius: 50%;
}
.c-c-avatar::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #409e2a;
    
}
.c-c-avatar img {
}
