.sign-in-page{
    margin: 0;
    background-color: #a52525;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: center;
}
.sign-in-page h1{
    font-family: 'Sriracha', cursive;
    color: #fff;
    font-size: min(20vw, 5rem);
    text-align: center;
}
.sign-in-btn{
    width: min(70vw, 40rem);
    height: min(5rem, 10vh);
    border-radius: .2rem;
    border: 1px solid;
    outline: none;
    font-size: min(5vw, 2rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Work Sans', sans-serif;
    box-shadow: 0px 6px 10px #fff;
    background: #fff;
}
.sign-in-btn:active{
    box-shadow: 0px 3px 10px #ccc;
    transform: scale(0.98);
}